* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    display: flex;
    align-items: center;
    padding: 11px 290px 11px 290px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.logo {
    width: 48.09px;
    height: 48.23px;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    color: #343434;
    text-wrap: nowrap;
}

nav ul li a:hover {
    text-decoration: none;
    color: #003366;
    text-wrap: nowrap;
}

.loginButton {
    cursor: pointer;
    color: #ffffff ;
    border: 0px;
    background-color: #003366;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 58px;
    border-radius: 14px;
    margin-left: 32px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* Hero Section */

.hero {
    justify-content: space-between;
    display: flex;
    padding-left: 290px;
    padding-top: 50px;
    padding-right: 290px;
    padding-bottom: 50px;
    gap: 20px;
}

.heroTextContainer {
    font-family: 'Poppins', sans-serif;
    background-color: #003366;
    width: 890px;
    padding-top: 100px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 100px   ;
    border-radius: 20px;
}

.heroTextContainer h1 {
    color: #FBFBFB;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    margin-bottom: 16px;
}

.heroTextContainer p {
    font-family: 'Roboto', sans-serif;
    color: #FBFBFB;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 40px;
}

.exploreButton {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #003366;
    background-color: #FBFBFB;
    cursor: pointer;
    border-radius: 14px;
    border: 14px;
    padding: 14px 20px;
}

.heroImage {
    display: flex;
    width: 433px;
    height: 520px;
}

/* Advantages Section */

.advantagesSection {
    background-color: #E0E7EF;
    padding: 70px 290px;
}

.advantagesContainer {
    max-width: 100%;
    margin: 0 auto;
}

.advantagesContainer h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 63px;
    color: #003366;
    background-color: #FBFBFB;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.advContainers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.container {
    text-align: center;
    background-color: #FBFBFB;
    width: 32%;
    border-radius: 14px;
    padding: 30px;
}

.container img {
    width: 64px;
    height: 64px;
    margin-bottom: 12px;
}

.container h3 {
    color: #003366;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
}

.container p {
    color: #343434;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

/* Section About Us */

.aboutUs {
    padding-top: 50px;
    padding-left: 290px;
    padding-right: 290px;
}

.aboutUsHead {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.aboutUsTitle h4 {
    font-family: 'Poppins', sans-serif;
    color: #003366;
    font-size: 42px;
    font-weight: 500;
    line-height: 63px;
}

.aboutUs a img {
    width: 40px;
    height: 40px;
}

.learnMoreLink a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
}

.aboutUsCards {
    display: flex;
    gap: 25px;
    height: 575px;
}

.aboutUsImgContainer img {
    width: 655px;
    height: 575px;
}

.aboutUsMainText {
    height: 333px;
    background-color: #003366;
    border-radius: 14px;
    padding-top: 37px;
    padding-left: 34px;
    padding-bottom: 22px;
    margin-bottom: 30px;
}

.aboutUsMainText h5 {
    font-family: 'Poppins', sans-serif;
    color: #FBFBFB;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 21px;
}

.aboutUsMainText p {
    font-family: 'Roboto', sans-serif;
    color: #FBFBFB;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.statsContainer {
    width: 100%;
    height: 211px;
    display: flex;
    gap: 25px;
}

.yearsContainer {
    width: 49%;
    height: 100%;
    text-align: center;
    background-color: #003366;
    border-radius: 14px;
    padding: 34px 75px 60px;
}

.yearsContainer h5 {
    font-family: 'Poppins', sans-serif;
    color: #FBFBFB;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
}

.yearsContainer p {
    font-family: 'Roboto', sans-serif;
    color: #FBFBFB;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.graduatesContainer {
    width: 49%;
    height: 100%;
    text-align: center;
    background-color: #003366;
    border-radius: 14px;
    padding: 34px 75px 60px;
}

.graduatesContainer h5 {
    font-family: 'Poppins', sans-serif;
    color: #FBFBFB;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
}

.graduatesContainer p {
    font-family: 'Roboto', sans-serif;
    color: #FBFBFB;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

/* Section Our Courses */

.ourCourses {
    padding-top: 100px;
    padding-left: 290px;
    padding-right: 290px;
}

.ourCoursesTitle {
    font-family: 'Poppins', sans-serif;
    color: #003366;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    margin-bottom: 20px;
}

.OfferContainer {
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #003366;
    padding: 40px;
    margin-bottom: 20px;
}

.OfferTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.OfferTitleImg {
    display: flex;
    align-items: center;
    gap: 14px;
}

.OfferTitleImg img {
    width: 60px;
    height: 60px;
}

.OfferTitleText {
    font-family: 'Poppins ', sans-serif;
    color: #003366;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.OfferDetailsLink a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
}

.OfferDetailsLink a img {
    width: 40px;
    height: 40px;
}

.notes {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.notes img {
    width: 24px;
    height: 24px;
}

.hour {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 45px;
    background-color: #EFF3F7;
    padding: 10px 16px;
}

.hour p {
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.modules {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 45px;
    background-color: #EFF3F7;
    padding: 10px 16px;
}

.modules p {
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.online {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 45px;
    background-color: #EFF3F7;
    padding: 10px 16px;
}

.online p {
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.english {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 45px;
    background-color: #EFF3F7;
    padding: 10px 16px;
}

.english p {
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.mainProgramModelsTitle {
    font-family: 'Roboto', sans-serif;
    color: #003366;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
}

.secondaryProgramModelsTitle {
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 8px;
}

.item {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.itemTxt {
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.priceContainer {
    align-items: center;
    display: flex;
    margin-top: 24px;
    margin-bottom: 40px; 
    gap: 16px;
}

.priceLabel {
    font-family: 'Roboto', sans-serif;
    color: #003366;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}

.separator {
    width: 2px;
    height: 45px;
    background-color: #003366;
}

.price {
    font-family: 'Roboto', sans-serif;
    color: #003366;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}

.joinBtn {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FBFBFB;
    background-color: #003366;
    border-width: 0;
    border-radius: 14px;
    padding: 14px 85.5px;
}

/* Schedule Call Section */

.scheduleCall {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    padding-top: 50px;
    padding-left: 290px;
    padding-right: 290px;
    padding-bottom: 50px;
    flex-wrap: wrap;
  }
  
  .callBackText {
    flex: 1 1 50%;
    max-width: 600px;
    margin-right: 20px;
  }

  .callBackTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    color: #FBFBFB;
  }

  .callBackDescription {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FBFBFB;
  }
  
  .callBackForm {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  
  .callBackForm input {
    margin-bottom: 24px;
    padding: 18.5px 14px;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #ECECEC;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
  
  .callBackForm button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
    padding: 14px 30px;
    background-color: #FBFBFB;
    color: #003366;
    border: none;
    cursor: pointer;
    border-radius: 14px;
    width: 213px;
    height: 58px;
  }

  .callBackForm ::placeholder {
    color: #343434;
  }

  /* testimonials section */

  .testimonials {
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 290px;
    padding-right: 290px;
    padding-bottom: 96px;
}

.testimonialsTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    color: #003366;
    padding-bottom: 20px;
}

.testimonialsCardContainer {
    display: flex;
    gap: 24px;
}

.testimonialsCard {
    display: flex;
    padding-top: 20px;
    padding-right: 78px;
    padding-left: 20px;
    padding-bottom: 20px;
    gap: 20px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #003366;
    border-style: solid;
}

.testimonialsCard img {
    width: 200px;
    height: 225px;
}

.testimonialsText .name {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #343434;
    padding-bottom: 2px;
}

.testimonialsText .role {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6B6B6B;
    padding-bottom: 2px;
}

.testimonialsText img {
    width: 120px;
    height: 24px;
    margin-bottom: 16px;
}

.testimonialsText .testimonialsComent{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #343434;
}

.carusel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border-width: 1px;
    border-color: #BFCCD8;
    border-style: solid;
    padding: 12px 14px;
    width: 221px;
    margin: 0 auto;
    margin-top: 50px;
}

.carusel :nth-child(1), .carusel :nth-child(3) {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.carusel :nth-child(2) {
    width: 69px;
    height: 4px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Faq Section */

.faq {
    padding-top: 46px;
    padding-left: 290px;
    padding-right: 290px;
    padding-bottom: 39px;
}

.faqContantContainer {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqContant {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faqTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    color: #003366;
}

.faqOpenText {
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    border-color: #003366;
    padding: 40px;
}

.faqTitleAndImg {
    display: flex;
    justify-content: space-between;
}

.faqOpenTextTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #343434;
    padding-bottom: 30px;
}

.faqTitleAndImg img {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.faqSeparatorLine {
    width: 612px;
    height: 1px;
    background-color: #003366;
    margin-bottom: 30px;
    margin-right: 80px;
}

.faqOpenTextDescriptions {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.faqCloseText {
    display: flex;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-color: #003366;
    border-radius: 16px;
    padding: 30px 40px;
}

.faqCloseText p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #343434;
    line-height: 30px;
}

.faqCloseText img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* .faqForm {
    flex: 1 1 50%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 14px;
    background-color: #003366;
    margin-bottom: 20px;
} */

.faqForm {
    flex: 1 1 50%; /* Займає половину ширини, якщо достатньо місця */
    min-width: 300px; /* Мінімальна ширина */
    background-color: #003366; /* Темно-синій фон */
    color: #FBFBFB;
    padding: 60px 60px;
    border-radius: 14px;
    height: 100%;
  }
  
  .faqFormTitle {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #FBFBFB;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
  
  .faqForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Відстань між полями */
  }
  
  .faqForm input,
  .faqForm textarea {
    width: 100%;
    padding: 18.5px 14px;
    border-radius: 4px;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    color: #343434;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }
  
  .faqForm input::placeholder,   
  .faqForm textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  .faqForm textarea{
    height: 114px;
  }
  
  .faqForm button {
    width: 235px;
    height: 58px;
    padding: 10px;
    border: none;
    background-color: #FBFBFB;
    color: #003366;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .faqForm button:hover {
    background-color: #ccc;
  }

  /* Footer */

.footer {
    padding: 32px 290px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    max-height: 50px;
  }
  
  .footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #003366;
    text-align: center;
    flex: 1;
  }
  
  .footer-nav {
    display: flex;
    gap: 30px;
  }
  
  .footer-nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    color: #343434;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .footer-nav a:hover {
    color: #0056b3;
  }