* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    display: flex;
    align-items: center;
    padding: 11px 290px 11px 290px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.logo {
    width: 48.09px;
    height: 48.23px;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    color: #343434;
    text-wrap: nowrap;
}

nav ul li a:hover {
    text-decoration: none;
    color: #003366;
    text-wrap: nowrap;
}

.loginButton {
    cursor: pointer;
    color: #ffffff ;
    border: 0px;
    background-color: #003366;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 58px;
    border-radius: 14px;
    margin-left: 32px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* Hero Section */

.hero {
    justify-content: space-between;
    display: flex;
    padding-left: 290px;
    padding-top: 50px;
    padding-right: 290px;
    padding-bottom: 50px;
    gap: 20px;
}

.heroTextContainer {
    font-family: 'Poppins', sans-serif;
    background-color: #003366;
    width: 890px;
    padding-top: 100px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 100px   ;
    border-radius: 20px;
}

.heroTextContainer h1 {
    color: #FBFBFB;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    margin-bottom: 16px;
}

.heroTextContainer p {
    font-family: 'Roboto', sans-serif;
    color: #FBFBFB;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 40px;
}

.exploreButton {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #003366;
    background-color: #FBFBFB;
    cursor: pointer;
    border-radius: 14px;
    border: 14px;
    padding: 14px 20px;
}

.heroImage {
    display: flex;
    width: 433px;
    height: 520px;
}

/* Advantages Section */

.advantagesSection {
    background-color: #E0E7EF;
    padding: 70px 290px;
}

.advantagesContainer {
    max-width: 100%;
    margin: 0 auto;
}

.advantagesContainer h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 63px;
    color: #003366;
    background-color: #FBFBFB;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.advContainers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.container {
    text-align: center;
    background-color: #FBFBFB;
    width: 32%;
    border-radius: 14px;
    padding: 30px;
}

.container img {
    width: 64px;
    height: 64px;
    margin-bottom: 12px;
}

.container h3 {
    color: #003366;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
}

.container p {
    color: #343434;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

/* Section About Us */

.aboutUs {
    padding-top: 50px;
    padding-left: 290px;
    padding-right: 290px;
}

.aboutUsHead {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.aboutUsTitle h4 {
    font-family: 'Poppins', sans-serif;
    color: #003366;
    font-size: 42px;
    font-weight: 500;
    line-height: 63px;
}

.aboutUs a img {
    width: 40px;
    height: 40px;
}

.learnMoreLink a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    color: #343434;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
}

.aboutUsCards {
    display: flex;
    gap: 25px;
    height: 575px;
}

.aboutUsImgContainer img {
    width: 655px;
    height: 575px;
}

.aboutUsMainText {
    height: 333px;
    background-color: #003366;
    border-radius: 14px;
    padding-top: 37px;
    padding-left: 34px;
    padding-bottom: 22px;
    margin-bottom: 30px;
}

.aboutUsMainText h5 {
    font-family: 'Poppins', sans-serif;
    color: #FBFBFB;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 21px;
}

.aboutUsMainText p {
    font-family: 'Roboto', sans-serif;
    color: #FBFBFB;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.statsContainer {
    width: 100%;
    height: 211px;
    display: flex;
    gap: 25px;
}

.yearsContainer {
    width: 49%;
    height: 100%;
    text-align: center;
    background-color: #003366;
    border-radius: 14px;
    padding: 34px 75px 60px;
}

.yearsContainer h5 {
    font-family: 'Poppins', sans-serif;
    color: #FBFBFB;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
}

.yearsContainer p {
    font-family: 'Roboto', sans-serif;
    color: #FBFBFB;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.graduatesContainer {
    width: 49%;
    height: 100%;
    text-align: center;
    background-color: #003366;
    border-radius: 14px;
    padding: 34px 75px 60px;
}

.graduatesContainer h5 {
    font-family: 'Poppins', sans-serif;
    color: #FBFBFB;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
}

.graduatesContainer p {
    font-family: 'Roboto', sans-serif;
    color: #FBFBFB;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}